body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
}

.card {
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 20px;
    color: white;
    width: 350px;
    text-align: center;
}

.upload-box {
    border: 2px dashed white;
    padding: 15px;
    margin: 10px 0;
    cursor: pointer;
}

.upload-box input { display: none; }

button {
    padding: 10px;
    width: 100%;
    background: #00ffcc;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
